/* styles.css */

.dataArea {
    position: absolute;
    top: 90px;
}

.create {
    position: absolute;
    top: 55px;
    right: 50px;
    width: 30px;
    height: 30px;
}

.sort {
    position: absolute;
    top: 55px;
    left: 30px;
}

table {
    border-collapse: collapse;
    width: 800px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th.col1 {
    width: 480px;
}

td.col1 {
    width: 480px;
}

th.col2 {
    width: 150px;
}

td.col2 {
    width: 150px;
}

th.col3 {
    width: 100px;
}

td.col3 {
    width: 100px;
}

thead {
    display: block;
}

tbody {
    display: block;
    overflow-y: scroll;
    height: 345px;
    border: 1px solid #000000;
}

.create:hover {
    cursor: pointer;
}