<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>一覧画面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="memo.css">
    <link rel="stylesheet" type="text/css" href="memoHome.css">
</head>

<body>
    <div class="container">
        <div>
            <img src="images/create.png" alt="Button Image" class="create"
                onclick="window.location.href='/toMemoCreate'">
        </div>
        <h1>メモ</h1>
        <div class=" sort">
            <form th:action="@{/sort}" method="get">
                <select id="sortKey" name="sortKey">
                    <option value="id" th:selected="${session.sortKey == null or session.sortKey == 'id'}">作成順</option>
                    <option value="title" th:selected="${session.sortKey == 'title'}">タイトル</option>
                    <option value="create_time" th:selected="${session.sortKey == 'create_time'}">更新日時</option>
                </select>
                <select id="sortDirection" name="sortDirection">
                    <option value="asc"
                        th:selected="${session.sortDirection == null or session.sortDirection == 'asc'}">昇順</option>
                    <option value="desc" th:selected="${session.sortDirection == 'desc'}">降順</option>
                </select>
                <button type="submit">ソート</button>
            </form>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="col1">タイトル</th>
                        <th class="col2">更新日時</th>
                        <th class="col3"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="object : ${sortMemoList}">
                        <td class="col1" th:text="${object.title}"></td>
                        <td class="col2" th:text="${#dates.format(object.create_time, 'yyyy-MM-dd HH:mm')}"></td>
                        <td class="col3">
                            <form th:action="@{/select}" method="post" style="display: inline;">
                                <input type="hidden" name="id" th:value="${object.id}" />
                                <button type="submit">参照</button>
                            </form>
                            <form th:action="@{/delete}" method="post" style="display: inline;">
                                <input type="hidden" name="id" th:value="${object.id}" />
                                <button type="submit">削除</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>