<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>詳細</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="memo.css">
    <link rel="stylesheet" type="text/css" href="memoEdit.css">
</head>

<body>
    <div class="container">
        <h1></h1>
        <form th:action="@{/update}" method="post">
            <div>
                <label>タイトル</label>
                <input id="title" type="text" th:value="${session.memo.title}" name="title" maxlength="30">
            </div>
            <div>
                <label>内容</label>
                <textarea id="content" th:text="${session.memo.content}" name="content" rows="20"
                    maxlength="400"></textarea>
            </div>
            <input type="hidden" name="id" th:value="${session.memo.id}" />
            <button class="button1" type="submit">更新</button>
        </form>
        <button class="button2" onclick="window.location.href='/toDetail'">戻る</button>
    </div>
</body>

</html>